<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>
                         
                        <li class="nav-item dropdown" >
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Masters
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="Index">Organization</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LeaveType" asp-action="Index">LeaveType</a>
                                <a class="dropdown-item" asp-area="" asp-controller="LeaveRule" asp-action="Index">LeaveRule</a>
                                <a class="dropdown-item" asp-area="" asp-controller="WorkLocation" asp-action="Index">WorkLocation</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Designation" asp-action="Index">Designation</a>
                                <a class="dropdown-item" asp-area="" asp-controller="CompanyHoliday" asp-action="Index">CompanyHoliday</a>

                            </div>
                        </li>
                        
                        <li class="nav-item" >
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Add Employee</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Leaves
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-item" asp-area="" asp-controller="LeaveApplication" asp-action="Index">Leave Application</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="Index">Leave Application Satus</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="Index">Leave Balance</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="Index">Leave Application Requests</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="Index">Employewise Leave Balance</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="Index">Leave History</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Organization" asp-action="Index">Employeewise Leave Hisory</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - LMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
